/*Defirnir paleta de Colores*/
:root{
   --blanco: #ffffff;
   --oscuro: #212121;
   --primario: #FFC017;
   --secundario: #0097A7;
   --gris: #757575;
  }

/*Con estas propiedades se puede seleccionar con rem*/
html{
   font-size: 62.5%;
}
body{
   font-size: 16px; /*1rem = 10px */
}

.titulo{
   text-align: center;
   font-size: 3.8rem;
   font-family: Arial, Helvetica, sans-serif;
   
}
.titulo span{
   font-size: 2rem;
}